
html {
    background-image: url('/Assets/Pizza.jpg'); /* Replace 'your-image.jpg' with the path to your background image */
    background-size: fill; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Fixes the background image in place */
}

h2 { color: #f47300;}

h2 span { color: #d40101}


nav { text-align: right;}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Style the dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Show the dropdown when hovering over the parent */
.dropdown:hover .dropdown-content {
    display: block;
}
