/*The Imports*/


body {
    background-image: url(./images/pizzabkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
}


/*Header and Nav Bar Styles*/
header h2 { 
    font-size: 35px;
    margin-top: 0;
    display: inline-block;
    height: fit-content; 
    color: #f47300;
    padding-left: 25px;}


/*Company Logo Design*/
h2 { color: #f47300;}
h2 span { color: #d40101}



/* Main Page Styles*/
main div h2 {
 display: inline-block;
 margin: 0;
}


main div p {
    margin: 0;
    margin-bottom: 90px;
}


/*Main HomePage Message CSS*/
.home_greetings  {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    padding-left: 100px; 
}



/*The Home Page Buttons*/
#hm_buttons {
    position: absolute;
    top: 65%; 
    transform: translateY(-50%); 
    padding-left: 100px; 
    display: flex; 
    gap: 20px;
}


.view-menu {
    font-size: 18px;
    color: #f29b4d;
    padding: 10px 25px; /* Equal padding for top/bottom and left/right */
    font-weight: bolder;
    background-color: transparent;
    border: 4px solid #f29b4d;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s linear;
}



.view-menu:hover {
    background-color: #f29b4d;
    color: #fff;
} 

.view-menu:active {
transform: scale(0.95);
cursor: progress;} 


.book-now {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    font-weight: bolder;
    background-color:#f29b4d ;
    border: 4px solid #f29b4d;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s linear;
}

.book-now:hover {
    background-color: #f1693a;
}

.book-now:active {
transform: scale(0.95);
cursor: progress;}   


nav { 
display: flex; 
justify-content: flex-end;
margin-top: -50px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*Nav Hover effect*/
li a:hover {
    background-color: #d40101;
    color: white;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
}


nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none; 
    transition: color 0.3s, background-color 0.3s; 
    padding: 10px 20px; 
    border-radius: 25px; 
}


nav ul li a.active {
    background-color: #d40101; /* Background color for the active link */
    color: white; /* Text color for the active link */
}

/* Style the dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d14040;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Show the dropdown when hovering over the parent */
.dropdown:hover .dropdown-content {
    display: block;
}


/*Main Styling Code*/


main h2 { font-weight: bold; font-size: 80px; }


main p {font-size: 40px;
color:#fefefe ;}




/*Footer Styling*/
footer {
    background-color: #f2994a;
    color: white;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

footer p {
    display: inline-block;
}


footer button {     background-color: #d40101;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: calc(0.5s); }

    
footer button:hover { 
    cursor: pointer;
} 
