
html {
    background-image: url('/Assets/PizzaBKG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/*Header and Nav Bar Styles*/
header h2 { 
    font-size: 30px;
    margin-top: 0;
    display: inline-block;
    height: fit-content; }

/*Company Logo Design*/
h2 { color: #f47300;}
h2 span { color: #d40101}


/*Moving Nav to the Right of the Screen*/
nav { 
display: flex; 
justify-content: flex-end;
margin-top: -50px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Style the dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d14040;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Show the dropdown when hovering over the parent */
.dropdown:hover .dropdown-content {
    display: block;
}


/*Main Styling Code*/


main h2 { font-weight: bold; font-size: 100px; }


main p {font-size: 50px;
color:#fefefe ;}